# Neste notebook serão analizados dados relacionados à ocupação hospitalar nos estados brasileiros devido à pandemia de COVID-19 

Os dados estão disponíveis na base do governo

# Instalação de bibliotecas

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

# Leitura de dados

In [56]:
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2021.csv
!wget https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SESAI/INDICADORES_COVID19/Planilha++de++Monitoramento++PIIRC++-++2020++a++2022%2C++em++for.xlsx

--2022-06-18 20:54:50--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/LEITOS/2022-06-16/esus-vepi.LeitoOcupacao_2021.csv
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 52.95.164.84
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|52.95.164.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166963859 (159M) [binary/octet-stream]
Saving to: ‘esus-vepi.LeitoOcupacao_2021.csv.2’

esus-vepi.LeitoOcup 100%[===================>] 159.23M  15.0MB/s    in 12s

2022-06-18 20:55:03 (13.3 MB/s) - ‘esus-vepi.LeitoOcupacao_2021.csv.2’ saved [166963859/166963859]

--2022-06-18 20:55:03--  https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SESAI/INDICADORES_COVID19/Planilha++de++Monitoramento++PIIRC++-++2020++a++2022%2C++em++for.xlsx
Resolving s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)... 16.12.0.0
Connecting to s3.sa-east-1.amazonaws.com (s3.sa-east-1.amazonaws.com)|16.12.0.0|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 169393 (165K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Planilha++de++Monitoramento++PIIRC++-++2020++a++2022,++em++for.xlsx’

Planilha++de++Monit 100%[===================>] 165.42K   312KB/s    in 0.5s

2022-06-18 20:55:05 (312 KB/s) - ‘Planilha++de++Monitoramento++PIIRC++-++2020++a++2022,++em++for.xlsx’ saved [169393/169393]

In [57]:
 
indigenas_file = pd.read_excel (r'indigenas.xlsx')
indigenas_file.to_csv (r'Indigenas.csv', index = None, header=True)

In [58]:
leitos_file = pd.read_csv(r'/content/esus-vepi.LeitoOcupacao_2021.csv') 
leitos_file

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,41848,fXMWZc6pYx,2021-11-26T03:00:00.000Z,2796341.0,5.0,0.0,0.0,0.0,0.0,0.0,...,parse-cloud,_User$sDovugxgDt,Minas Gerais,Paraguaçu,Minas Gerais,Paraguaçu,False,False,2020-05-26T19:35:23.592Z,2021-11-26T18:10:30.964Z
1,41850,0EqPcsxOrJ,2021-01-19T03:00:00.000Z,2796341.0,5.0,0.0,0.0,0.0,NaN,NaN,...,parse-cloud,_User$sDovugxgDt,Minas Gerais,Paraguaçu,Minas Gerais,Paraguaçu,False,False,2020-05-26T19:35:59.976Z,2021-01-20T12:40:18.030Z
2,49575,8zTFrSB7ln,2021-01-27T21:00:00.000Z,9126597.0,11.0,0.0,4.0,0.0,NaN,NaN,...,parse-cloud,_User$SGlIuTEBrF,Rio de Janeiro,São Gonçalo,Rio de Janeiro,São Gonçalo,False,False,2020-06-01T14:55:50.697Z,2021-01-28T22:18:29.762Z
3,57550,EGer1oZIdg,2021-01-04T03:00:00.000Z,2283239.0,0.0,9.0,0.0,9.0,NaN,NaN,...,parse-cloud,_User$x0Jh9W3F7R,Rio de Janeiro,Miguel Pereira,Rio de Janeiro,Miguel Pereira,False,False,2020-06-05T12:41:07.063Z,2021-01-05T13:11:40.490Z
4,66881,HuLDbexxWM,2021-01-07T05:00:00.000Z,2001020.0,0.0,0.0,1.0,0.0,NaN,NaN,...,parse-cloud,_User$MMGEGP4sab,Acre,Assis Brasil,Acre,Assis Brasil,False,False,2020-06-11T23:55:49.995Z,2021-01-07T23:25:12.509Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745008,1488893,DFis9EcEdl,2021-12-27T03:00:00.000Z,2653494,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$NOq4mgk1YH,Bahia,Pojuca,Bahia,Pojuca,False,False,2022-05-31T22:01:19.491Z,2022-05-31T22:01:19.491Z
745009,1488894,dA7F3MqjCH,2021-12-28T03:00:00.000Z,2653494,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$NOq4mgk1YH,Bahia,Pojuca,Bahia,Pojuca,False,False,2022-05-31T22:02:03.428Z,2022-05-31T22:02:03.428Z
745010,1488895,tl4TE1eMgk,2021-12-29T03:00:00.000Z,2653494,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$NOq4mgk1YH,Bahia,Pojuca,Bahia,Pojuca,False,False,2022-05-31T22:02:47.475Z,2022-05-31T22:02:47.475Z
745011,1488896,Tsf4anA6aX,2021-12-30T03:00:00.000Z,2653494,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$NOq4mgk1YH,Bahia,Pojuca,Bahia,Pojuca,False,False,2022-05-31T22:03:38.800Z,2022-05-31T22:03:38.800Z
745012,1488897,zCAN0LwTMy,2021-12-31T03:00:00.000Z,2653494,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$NOq4mgk1YH,Bahia,Pojuca,Bahia,Pojuca,False,False,2022-05-31T22:04:20.025Z,2022-05-31T22:04:20.025Z

# Estudando as colunas disponíveis 
No código abaixo é extraído todas as colunas presentes no dataframe

In [59]:
leitos_file.columns.values

array(['Unnamed: 0', '_id', 'dataNotificacao', 'cnes',
       'ocupacaoSuspeitoCli', 'ocupacaoSuspeitoUti',
       'ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti',
       'ocupacaoCovidUti', 'ocupacaoCovidCli', 'ocupacaoHospitalarUti',
       'ocupacaoHospitalarCli', 'saidaSuspeitaObitos',
       'saidaSuspeitaAltas', 'saidaConfirmadaObitos',
       'saidaConfirmadaAltas', 'origem', '_p_usuario',
       'estadoNotificacao', 'municipioNotificacao', 'estado', 'municipio',
       'excluido', 'validado', '_created_at', '_updated_at'], dtype=object)

O próximo passo consistirá em limpar algumas colunas que são desnecessárias para nossas analises

In [60]:
to_drop = ['Unnamed: 0','cnes','_p_usuario','_created_at','_updated_at','origem','excluido','validado']
leitos_file.drop(to_drop, inplace=True, axis=1)

# Tipos de dados
Outro passo interessante na etapa de análise dos dados brutos consiste em análisar o tipo dos dados que estão sendo tratados

In [61]:
leitos_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745013 entries, 0 to 745012
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   _id                    745013 non-null  object
 1   dataNotificacao        745013 non-null  object
 2   ocupacaoSuspeitoCli    460677 non-null  float64
 3   ocupacaoSuspeitoUti    460677 non-null  float64
 4   ocupacaoConfirmadoCli  460677 non-null  float64
 5   ocupacaoConfirmadoUti  460677 non-null  float64
 6   ocupacaoCovidUti       291056 non-null  float64
 7   ocupacaoCovidCli       291056 non-null  float64
 8   ocupacaoHospitalarUti  291056 non-null  float64
 9   ocupacaoHospitalarCli  291056 non-null  float64
 10  saidaSuspeitaObitos    745013 non-null  float64
 11  saidaSuspeitaAltas     745013 non-null  float64
 12  saidaConfirmadaObitos  745013 non-null  float64
 13  saidaConfirmadaAltas   745013 non-null  float64
 14  estadoNotificacao      745013 non-null  object
 15  municipioNotificacao   745013 non-null  object
 16  estado                 745013 non-null  object
 17  municipio              745013 non-null  object
dtypes: float64(12), object(6)
memory usage: 102.3+ MB

In [62]:
leitos_file.dtypes

_id                       object
dataNotificacao           object
ocupacaoSuspeitoCli      float64
ocupacaoSuspeitoUti      float64
ocupacaoConfirmadoCli    float64
ocupacaoConfirmadoUti    float64
ocupacaoCovidUti         float64
ocupacaoCovidCli         float64
ocupacaoHospitalarUti    float64
ocupacaoHospitalarCli    float64
saidaSuspeitaObitos      float64
saidaSuspeitaAltas       float64
saidaConfirmadaObitos    float64
saidaConfirmadaAltas     float64
estadoNotificacao         object
municipioNotificacao      object
estado                    object
municipio                 object
dtype: object

# Indexação
Outro passo para tornar os dados mais faceis de serem manipulados consiste em indexá-los  

Para isso selecionamos uma coluna de forma a torná-la única para cada entrada do dataframe

In [63]:
leitos_file['_id'].is_unique

True

# Verificação de valores faltantes

Identificação de valores nulos nas colunas

In [64]:
leitos_file.isnull().any()

_id                      False
dataNotificacao          False
ocupacaoSuspeitoCli       True
ocupacaoSuspeitoUti       True
ocupacaoConfirmadoCli     True
ocupacaoConfirmadoUti     True
ocupacaoCovidUti          True
ocupacaoCovidCli          True
ocupacaoHospitalarUti     True
ocupacaoHospitalarCli     True
saidaSuspeitaObitos      False
saidaSuspeitaAltas       False
saidaConfirmadaObitos    False
saidaConfirmadaAltas     False
estadoNotificacao        False
municipioNotificacao     False
estado                   False
municipio                False
dtype: bool

Contagem de valores nulos nas colunas

In [65]:
leitos_file.isnull().sum()

_id                           0
dataNotificacao               0
ocupacaoSuspeitoCli      284336
ocupacaoSuspeitoUti      284336
ocupacaoConfirmadoCli    284336
ocupacaoConfirmadoUti    284336
ocupacaoCovidUti         453957
ocupacaoCovidCli         453957
ocupacaoHospitalarUti    453957
ocupacaoHospitalarCli    453957
saidaSuspeitaObitos           0
saidaSuspeitaAltas            0
saidaConfirmadaObitos         0
saidaConfirmadaAltas          0
estadoNotificacao             0
municipioNotificacao          0
estado                        0
municipio                     0
dtype: int64

O próximo passo consiste em remover valores nulos do dataframe

In [66]:
newDF = leitos_file.dropna()

Após eliminar os valores nulos, é necessário verificar se de fato foram eliminados

In [67]:
newDF.isnull().sum()

_id                      0
dataNotificacao          0
ocupacaoSuspeitoCli      0
ocupacaoSuspeitoUti      0
ocupacaoConfirmadoCli    0
ocupacaoConfirmadoUti    0
ocupacaoCovidUti         0
ocupacaoCovidCli         0
ocupacaoHospitalarUti    0
ocupacaoHospitalarCli    0
saidaSuspeitaObitos      0
saidaSuspeitaAltas       0
saidaConfirmadaObitos    0
saidaConfirmadaAltas     0
estadoNotificacao        0
municipioNotificacao     0
estado                   0
municipio                0
dtype: int64

In [68]:
display(newDF)

,_id,dataNotificacao,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,saidaConfirmadaAltas,estadoNotificacao,municipioNotificacao,estado,municipio
0,fXMWZc6pYx,2021-11-26T03:00:00.000Z,5.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,Minas Gerais,Paraguaçu,Minas Gerais,Paraguaçu
7173,VsiUbO7tDF,2021-01-01T03:00:00.000Z,38.0,20.0,8.0,12.0,14.0,8.0,29.0,53.0,0.0,0.0,0.0,0.0,Bahia,Itabuna,Bahia,Itabuna
7176,W2St9Xkx9n,2021-01-02T03:00:00.000Z,38.0,20.0,8.0,20.0,14.0,8.0,29.0,53.0,0.0,0.0,0.0,0.0,Bahia,Itabuna,Bahia,Itabuna
7182,kvtPRz04RI,2021-01-03T03:00:00.000Z,38.0,22.0,8.0,14.0,16.0,8.0,29.0,53.0,0.0,0.0,0.0,0.0,Bahia,Itabuna,Bahia,Itabuna
7186,T9c2hieYyA,2021-01-04T03:00:00.000Z,38.0,19.0,8.0,11.0,13.0,8.0,29.0,53.0,0.0,0.0,0.0,0.0,Bahia,Itabuna,Bahia,Itabuna
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554764,bdmMgQgSwP,2021-09-12T03:00:00.000Z,144.0,25.0,12.0,54.0,54.0,13.0,26.0,151.0,0.0,0.0,4.0,2.0,Santa Catarina,Chapecó,Santa Catarina,Chapecó
554767,vcOndp6Se7,2021-09-12T03:00:00.000Z,22.0,27.0,22.0,20.0,19.0,23.0,26.0,25.0,0.0,0.0,1.0,2.0,Rio de Janeiro,Campos dos Goytacazes,Rio de Janeiro,Campos dos Goytacazes
554785,ts0F8D9j2G,2021-09-12T03:00:00.000Z,49.0,8.0,2.0,2.0,3.0,2.0,9.0,35.0,0.0,0.0,0.0,0.0,Rio de Janeiro,Itaguaí,Rio de Janeiro,Itaguaí
554861,Q7JlCyEeU1,2021-09-12T03:00:00.000Z,113.0,31.0,0.0,2.0,2.0,0.0,32.0,95.0,0.0,0.0,0.0,0.0,Santa Catarina,Lages,Santa Catarina,Lages
556144,vWSkI7foyr,2021-09-13T03:00:00.000Z,12.0,2.0,4.0,2.0,3.0,2.0,2.0,12.0,1.0,0.0,0.0,0.0,Minas Gerais,São Gotardo,Minas Gerais,São Gotardo

# Estatística Descritiva 
Nessa etapa usaremos o método describe para descrever o comportamentos dos atributos mais importantes.

In [71]:
newDF['ocupacaoSuspeitoCli'].describe()

count    6720.000000
mean       65.582738
std        99.366924
min         0.000000
25%         8.000000
50%        27.000000
75%        65.000000
max       623.000000
Name: ocupacaoSuspeitoCli, dtype: float64