In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

In [ ]:
!wget https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv

--2022-06-16 19:04:26--  https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3591322 (3.4M) [text/plain]
Saving to: ‘cases-brazil-states.csv’

cases-brazil-states 100%[===================>]   3.42M  --.-KB/s    in 0.05s

2022-06-16 19:04:26 (73.6 MB/s) - ‘cases-brazil-states.csv’ saved [3591322/3591322]

In [ ]:
data = pd.read_csv('./cases-brazil-states.csv',nrows = 0, sep=',')
data

Empty DataFrame
Columns: [epi_week, date, country, state, city, newDeaths, deaths, newCases, totalCases, deathsMS, totalCasesMS, deaths_per_100k_inhabitants, totalCases_per_100k_inhabitants, deaths_by_totalCases, recovered, suspects, tests, tests_per_100k_inhabitants, vaccinated, vaccinated_per_100_inhabitants, vaccinated_second, vaccinated_second_per_100_inhabitants, vaccinated_single, vaccinated_single_per_100_inhabitants, vaccinated_third, vaccinated_third_per_100_inhabitants]
Index: []

[0 rows x 26 columns]

In [ ]:
data.columns.values

array(['epi_week', 'date', 'country', 'state', 'city', 'newDeaths',
       'deaths', 'newCases', 'totalCases', 'deathsMS', 'totalCasesMS',
       'deaths_per_100k_inhabitants', 'totalCases_per_100k_inhabitants',
       'deaths_by_totalCases', 'recovered', 'suspects', 'tests',
       'tests_per_100k_inhabitants', 'vaccinated',
       'vaccinated_per_100_inhabitants', 'vaccinated_second',
       'vaccinated_second_per_100_inhabitants', 'vaccinated_single',
       'vaccinated_single_per_100_inhabitants', 'vaccinated_third',
       'vaccinated_third_per_100_inhabitants'], dtype=object)

Podemos selecionar quais colunas queremos analisar

In [ ]:
cols = ['epi_week', 'date', 'country', 'state', 'city', 'newDeaths',
       'deaths', 'newCases', 'totalCases', 'deathsMS', 'totalCasesMS',
       'deaths_per_100k_inhabitants', 'totalCases_per_100k_inhabitants',
       'deaths_by_totalCases', 'recovered', 'suspects', 'tests',
       'tests_per_100k_inhabitants', 'vaccinated',
       'vaccinated_per_100_inhabitants', 'vaccinated_second',
       'vaccinated_second_per_100_inhabitants', 'vaccinated_single',
       'vaccinated_single_per_100_inhabitants', 'vaccinated_third',
       'vaccinated_third_per_100_inhabitants']

In [ ]:
cols = ['date','state','totalCases']

In [ ]:
datas = pd.read_csv('./cases-brazil-states.csv',usecols = ['state'], sep=',') 
datas 
# excluir as linhas que possuem o termo "TOTAL" 
# Manter a ultima, pode usar .tail()

       state
0         SP
1      TOTAL
2         SP
3      TOTAL
4         SP
...      ...
23137     SC
23138     SE
23139     SP
23140     TO
23141  TOTAL

[23142 rows x 1 columns]

In [ ]:
data = pd.read_csv('./cases-brazil-states.csv',usecols = cols, sep=',')

In [ ]:
data.head()

         date  state  totalCases
0  2020-02-25     SP           1
1  2020-02-25  TOTAL           1
2  2020-02-26     SP           1
3  2020-02-26  TOTAL           1
4  2020-02-27     SP           1

Conseguimos identificar o tipo de cada campo

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23142 entries, 0 to 23141
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        23142 non-null  object
 1   state       23142 non-null  object
 2   totalCases  23142 non-null  int64
dtypes: int64(1), object(2)
memory usage: 542.5+ KB

In [ ]:
data.dtypes

date          object
state         object
totalCases     int64
dtype: object

Conseguimos identificar todos os valores não preenchidos nas colunas

In [ ]:
data.isna().sum()

date          0
state         0
totalCases    0
dtype: int64

In [ ]:
data.describe()

         totalCases
count  2.314200e+04
mean   1.025741e+06
std    3.295575e+06
min    1.000000e+00
25%    1.001642e+05
50%    2.899035e+05
75%    6.464088e+05
max    3.161177e+07

In [ ]:
data['state'].value_counts()

SP       843
TOTAL    843
RJ       834
BA       833
ES       833
DF       832
AL       831
MG       831
RS       829
GO       827
PE       827
PR       827
RN       827
SC       827
AM       826
MS       825
SE       825
CE       823
AC       822
PA       821
PB       821
TO       821
PI       820
AP       819
MA       819
MT       819
RO       819
RR       818
Name: state, dtype: int64